html, body {
    margin: 0;
    padding: 0;
    background-color: #c800dc;
    cursor: url('../img/cursor.cur'), auto;
    color: aliceblue;
  }
  canvas {
    display: block;
  }
  header{
    position: fixed;
    display: flex;
    flex-direction: row;
  }
  nav{
      width: 20vw;
  }
  .scroll{
      position: relative;
      display: flex;
      flex-direction: column;
      height: 75vh;
      overflow: scroll;
      scroll-behavior: smooth;
  }
  i:hover{
    color: aqua;
  }
  a > img {
      height: 20vh;  
      margin: 2vh;
  }
  i{
    font-size: 50px;
    color: aliceblue;
    padding: 5px;
    margin: 20px;
  }

    nav > img {
        width: 100%;
    }
    .content{
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .about{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    
    .skill{
      width: 100%;
    }
    .skills{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-flow: wrap;
    }
    .icon > i{
      font-size: 100px;
    }
    .skill-item{
      width: 200px;
    }


    .social{
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
    }
    .sm{
      padding: 10px;
    }

    .contact{
      width: 100%;
    }
    form{
      display: flex;
      flex-direction: column;
      width: 80%;
      padding: 10px;
      justify-content: flex-end;
      margin-right: 10%;
      margin-left: 10%;
    }
    input, textarea, form>button{
      padding: 10px;
      margin: 20px;
    }

    .project{
      height: 100vh;
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      align-items: center;
    }

    .project-item{
      height: 350px;
      background-color: black;
      margin: 20px;
      width: 300px;
      padding: 20px;
      border-radius: 30px;
      align-items: center;
    }
    .project-item > img{
      width: 100%;
    }






/* Hide the second piece of text by default */
p.hovertext .hide {
    display:none;
    background-color: black;
    padding: 2px 4px;
    border-radius: 20%;
}   

/* Re-show the second piece of text on hover */
p.hovertext:hover .hide {
   display:inline;
   color: aqua;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-class{
    visibility: hidden;
    width: 0px;
    height: 0px;
}