html, body {
    margin: 0;
    padding: 0;
    background-color: #12181b;
    cursor: none;
    color: aliceblue;
  }
  canvas {
    display: block;
  }
  header{
    position: fixed;
    display: flex;
    flex-direction: row;
  }
  nav{
      width: 12vw;
  }
  .scroll{
      position: relative;
      display: flex;
      flex-direction: column;
      height: 75vh;
      overflow: scroll;
      scroll-behavior: smooth;
  }
  a > img {
      height: 20vh;  
      margin: 2vh;
  }
  i{
    font-size: 50px;
    color: aliceblue;
    padding: 5px;
    margin: 20px;
  }

    nav > img {
        width: 100%;
    }
    .content{
        width: 88vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }














/* Hide the second piece of text by default */
p.hovertext .hide {
    display:none;
    background-color: black;
    padding: 2px 4px;
    border-radius: 20%;
}   

/* Re-show the second piece of text on hover */
p.hovertext:hover .hide {
   display:inline;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-class{
    visibility: hidden;
    width: 0px;
    height: 0px;
}