*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

}
#pic{
    text-align: center;
}
#up-man {
    animation: ups 4s infinite;
    transform-origin: center;
}
@keyframes ups {
    0%{
        transform: rotateZ(-3deg)
    }
    50%{
        transform: rotateZ(3deg)
    }
    100%{
        transform: rotateZ(-3deg)
    }    
}
#right-man {
    animation: line 3s infinite;
    transform-origin: center;
}
@keyframes line {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }    
}

/* #man {
    animation: non 3s infinite;
    transform-origin: center;
}
@keyframes non {
    0%{
        display: none;
    }
    50%{
        display: none;
    }
    100%{
        display: none;
    }    
} */

/* #man{
    display: none;
} */